

body{
margin:0;
font-family:Arial;
scroll-behavior:smooth;
}



#errorBar{
position:fixed;
top:0;
left:0;
width:100%;
background:red;
color:white;
text-align:center;
padding:10px;
display:none;
z-index:999;
}



.navbar{
background:#222;
color:white;
padding:10px 20px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
}

.navbar a{
color:white;
text-decoration:none;
margin-right:15px;
font-weight:bold;
}

.navbar a:hover{
color:orange;
}



.section{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
padding:40px;
}

.home{
background:url(wallpapersden.com_jinx-the-warrior-hd-league-of-legends_1920x1080.jpg);
background-size:cover;
}

.about{
background:url(pexels-sulimansallehi-1576939.jpg);
background-size:cover;
}

.info{
background:url(93781-Adventure-Time-Xmas.jpg );
background-size:cover;
}

.address{
background:url(thumb-1920-996488.jpg);
background-size: cover;
color: #02140f;
}

.emails{
background:url(HD-wallpaper-anime-landscape-fantasy-adventure.jpg);
background-size: cover;



}

.activity{
background:url(266407-1920x1080-desktop-1080p-finn-and-jake-wallpaper-image.jpg);
background-size: cover;
color: #02140f;
}



.slider{
width:600px;
max-width:90%;
position:relative;
overflow:hidden;
}

.slide{
display:none;
width:100%;
}

.slide.active{
display:block;
}


.prev,.next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.5);
color:white;
border:none;
font-size:30px;
cursor:pointer;
padding:10px;
}

.prev{ left:0; }
.next{ right:0; }